/*
    Several colors and styles are from TocasUI (https://github.com/teacat/tocas, MIT License).
    Including: background-color, border-color, progressbar styles.
*/

#root {
    -fx-background-color: #FFF;
}

#settingsButton {
    -fx-padding: 5px;
    -fx-border-radius: 1024px;
    -fx-background-radius: 1024px;
}

/* file list */
#fileList.table-view {
    -fx-background-radius: 2.5px;
}

#fileList .column-header {
    -fx-background-color: #F7F7F7;
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: #E9E9E9;
}

#fileList .virtual-flow .scroll-bar:vertical,
#fileList .virtual-flow .scroll-bar:vertical .track,
#fileList .virtual-flow .scroll-bar:vertical .track-background,
#fileList .virtual-flow .scroll-bar:horizontal,
#fileList .virtual-flow .scroll-bar:horizontal .track,
#fileList .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

#fileList .virtual-flow .scroll-bar .increment-button,
#fileList .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar .thumb {
    -fx-background-color: #E9E9E9;
}

.table-view .virtual-flow .scroll-bar .thumb:pressed {
    -fx-background-color: #919191;
}

/* -fx-text-fill would be override, so use -fx-text-background-color instead. See https://stackoverflow.com/a/26998283/9039813. */
.table-cell.positive {
    -fx-font-weight: bold;
    -fx-text-background-color: #8BB96E;
}
.table-cell.negative {
    -fx-font-weight: bold;
    -fx-text-background-color: #CE5F58;
}

/* status pane */
#statusPane {
    -fx-border-color: #D9D9D9;
    -fx-border-width: 1.25px;
    -fx-border-radius: 2.5px;
    -fx-background-color: #FFFFFF;
}

#modeLabel {
    -fx-padding: 5px;
    -fx-background-color: #E9E9E9;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: #919191;
}

#progressLabel {
    -fx-text-alignment: center;
}

#progressbar > .bar {
    -fx-background-insets: 0;
    -fx-background-color: #919191;
}

#progressbar > .track {
    -fx-background-color: #E9E9E9;
}

#progressbar.positive > .bar {
    -fx-background-color: #8BB96E;
}
#progressbar.negative > .bar {
    -fx-background-color: #CE5F58;
}